node-red flows/node-red_flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Event Office","disabled":false,"info":""},{"id":"c8877372.706d7","type":"tab","label":"Ticket Office","disabled":false,"info":""},{"id":"d4f8deb2.3b115","type":"ui_tab","name":"Event Services","icon":"dashboard","disabled":false,"hidden":false},{"id":"cec85146.9245d","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Event Ticket Service","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"6b5528fc.d7ed78","type":"ui_group","name":"Create New Event","tab":"d4f8deb2.3b115","order":1,"disp":true,"width":"10","collapse":false},{"id":"362d78bb.ec4368","type":"ethers-network","name":"Ropsten","url":"ropsten"},{"id":"36e2ad43.b68d12","type":"ethers-contract","name":"TicketOffice.sol","address":"0xeD0eCBeD8269f54DB2882a6Eb00597644C775b44","abi":"[\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"approved\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"Approval\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"bool\",\n          \"name\": \"approved\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"name\": \"ApprovalForAll\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"EventCanceled\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"string\",\n          \"name\": \"name\",\n          \"type\": \"string\"\n        }\n      ],\n      \"name\": \"NewEventCreated\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"NewTicketSold\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"TicketTransfered\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"Transfer\",\n      \"type\": \"event\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"approve\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"balanceOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"balances\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"cancelEvent\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"name_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"description_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"location_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"startDate_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"endDate_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketPrice_\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"totalTickets_\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"createNewEvent\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"description\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"endDate\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"eventOwnerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"eventToOwner\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"events\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"name\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"description\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"location\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"startDate\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"endDate\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketPrice\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"totalTickets\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketsSold\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"eventCanceled\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"getActiveEvnts\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256[]\",\n          \"name\": \"\",\n          \"type\": \"uint256[]\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"getApproved\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"getEventDetails\",\n      \"outputs\": [\n        {\n          \"components\": [\n            {\n              \"internalType\": \"string\",\n              \"name\": \"name\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"description\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"location\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"startDate\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"endDate\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"ticketPrice\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"totalTickets\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"ticketsSold\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"bool\",\n              \"name\": \"eventCanceled\",\n              \"type\": \"bool\"\n            }\n          ],\n          \"internalType\": \"struct UserEvent.eventDetails\",\n          \"name\": \"\",\n          \"type\": \"tuple\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"getOwnerEvents\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256[]\",\n          \"name\": \"\",\n          \"type\": \"uint256[]\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"isApprovedForAll\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"isCanceled\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"location\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"name\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"name\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ownerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"safeTransferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"bytes\",\n          \"name\": \"_data\",\n          \"type\": \"bytes\"\n        }\n      ],\n      \"name\": \"safeTransferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"approved\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"name\": \"setApprovalForAll\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"startDate\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"bytes4\",\n          \"name\": \"interfaceId\",\n          \"type\": \"bytes4\"\n        }\n      ],\n      \"name\": \"supportsInterface\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"symbol\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketPrice\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketToEvent\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketsSold\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"tokenURI\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"totalTickets\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"transferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"buyTicket\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"payable\",\n      \"type\": \"function\",\n      \"payable\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketOwnerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"checkTicket\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tickedId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to_\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"ticketTransfer\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"withdraw\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    }\n  ]"},{"id":"c89aae8b.5cfe1","type":"ethers-wallet","name":"senderKey","keyPublic":"payload.ropstenPublicKey","keyPublicType":"msg","keyPrivateType":"msg"},{"id":"4d46635f.c7622c","type":"ui_tab","name":"My Events","icon":"dashboard","disabled":false,"hidden":false},{"id":"cfe26d9d.55de6","type":"ui_group","name":"My Event List","tab":"4d46635f.c7622c","order":1,"disp":true,"width":"10","collapse":false},{"id":"d6c395a3.7901f8","type":"ui_tab","name":"Event Details","icon":"dashboard","disabled":false,"hidden":false},{"id":"5c9c5aaa.497464","type":"ui_group","name":"Get Event Details","tab":"d6c395a3.7901f8","order":1,"disp":true,"width":"10","collapse":false},{"id":"82e56cc1.e3154","type":"ui_tab","name":"Ticket Office","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ad241b0.fd92a","type":"ui_group","name":"Buy Ticket","tab":"82e56cc1.e3154","order":1,"disp":true,"width":"10","collapse":false},{"id":"93574eda.b3218","type":"ui_group","name":"Check Ticket","tab":"82e56cc1.e3154","order":2,"disp":true,"width":"10","collapse":false},{"id":"86dab606.995968","type":"ui_group","name":"Transfer Ticket","tab":"82e56cc1.e3154","order":3,"disp":true,"width":"10","collapse":false},{"id":"e2830a81.255e58","type":"ui_group","name":"Get the owner of the ticket","tab":"82e56cc1.e3154","order":4,"disp":true,"width":"10","collapse":false},{"id":"75b4bf84.ea5a","type":"ui_group","name":"My Event List","tab":"d4f8deb2.3b115","order":2,"disp":true,"width":"10","collapse":false},{"id":"ff2dd3e1.0c99","type":"ui_group","name":"Get Event Details","tab":"d4f8deb2.3b115","order":3,"disp":true,"width":"10","collapse":false},{"id":"da9b459d.0ceba8","type":"ui_group","name":"Acvtive Event List","tab":"d4f8deb2.3b115","order":4,"disp":true,"width":"10","collapse":false},{"id":"6bb42833.679958","type":"ui_group","name":"Cancel Event","tab":"d4f8deb2.3b115","order":5,"disp":true,"width":"10","collapse":false},{"id":"ecc1dc96.f2a7c","type":"ui_group","name":"Withdraw","tab":"82e56cc1.e3154","order":5,"disp":true,"width":"10","collapse":false},{"id":"83e011d.4fe47f","type":"ui_form","z":"f6f2187d.f17ca8","name":"","label":"","group":"6b5528fc.d7ed78","order":0,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Description","value":"description","type":"text","required":false,"rows":null},{"label":"Location","value":"location","type":"text","required":false,"rows":null},{"label":"Start Date","value":"startDate","type":"text","required":false,"rows":null},{"label":"End Date","value":"endDate","type":"text","required":false,"rows":null},{"label":"Ticket Price (Ether)","value":"ticketPrice","type":"number","required":true,"rows":null},{"label":"Total Tickets","value":"totalTickets","type":"number","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"name":"","description":"","location":"","startDate":"","endDate":"","ticketPrice":"","totalTickets":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":200,"wires":[["e5ba2c81.862c9","bf53ba6a.fc9da8"]]},{"id":"470a229d.06f0bc","type":"ethers-transaction","z":"f6f2187d.f17ca8","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"createNewEvent","params":["payload.name","payload.description","payload.location","payload.startDate","payload.endDate","payload.ticketPrice","payload.totalTickets"],"param0":"payload.name","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":200,"wires":[["e5ba2c81.862c9","8c19324.cf7ffd"]]},{"id":"e5ba2c81.862c9","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":80,"wires":[]},{"id":"26f3099a.e74206","type":"ui_template","z":"f6f2187d.f17ca8","group":"6b5528fc.d7ed78","name":"","order":1,"width":0,"height":0,"format":"    <script language=\"javascript\" type=\"text/javascript\" src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js\"></script>\n    <script language=\"javascript\" type=\"text/javascript\" src=\"web3.min.js\"></script>\n    ","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"global","x":320,"y":360,"wires":[["b959739f.e55fc"]]},{"id":"b959739f.e55fc","type":"ui_template","z":"f6f2187d.f17ca8","group":"6b5528fc.d7ed78","name":"","order":2,"width":0,"height":0,"format":"    <script>\n    cryptoEventsABI = [\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"approved\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"Approval\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"bool\",\n          \"name\": \"approved\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"name\": \"ApprovalForAll\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"EventCanceled\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"string\",\n          \"name\": \"name\",\n          \"type\": \"string\"\n        }\n      ],\n      \"name\": \"NewEventCreated\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"NewTicketSold\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": false,\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"indexed\": false,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"TicketTransfered\",\n      \"type\": \"event\"\n    },\n    {\n      \"anonymous\": false,\n      \"inputs\": [\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"indexed\": true,\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"Transfer\",\n      \"type\": \"event\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"approve\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"balanceOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"balances\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"cancelEvent\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"name_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"description_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"location_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"startDate_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"endDate_\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketPrice_\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"totalTickets_\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"createNewEvent\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"description\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"endDate\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"eventOwnerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"eventToOwner\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"events\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"name\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"description\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"location\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"startDate\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"string\",\n          \"name\": \"endDate\",\n          \"type\": \"string\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketPrice\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"totalTickets\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketsSold\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"eventCanceled\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"getActiveEvnts\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256[]\",\n          \"name\": \"\",\n          \"type\": \"uint256[]\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"getApproved\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"getEventDetails\",\n      \"outputs\": [\n        {\n          \"components\": [\n            {\n              \"internalType\": \"string\",\n              \"name\": \"name\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"description\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"location\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"startDate\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"string\",\n              \"name\": \"endDate\",\n              \"type\": \"string\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"ticketPrice\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"totalTickets\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"uint256\",\n              \"name\": \"ticketsSold\",\n              \"type\": \"uint256\"\n            },\n            {\n              \"internalType\": \"bool\",\n              \"name\": \"eventCanceled\",\n              \"type\": \"bool\"\n            }\n          ],\n          \"internalType\": \"struct UserEvent.eventDetails\",\n          \"name\": \"\",\n          \"type\": \"tuple\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"getOwnerEvents\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256[]\",\n          \"name\": \"\",\n          \"type\": \"uint256[]\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"isApprovedForAll\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"isCanceled\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"location\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"name\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"name\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ownerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"safeTransferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"bytes\",\n          \"name\": \"_data\",\n          \"type\": \"bytes\"\n        }\n      ],\n      \"name\": \"safeTransferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"operator\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"approved\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"name\": \"setApprovalForAll\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"startDate\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"bytes4\",\n          \"name\": \"interfaceId\",\n          \"type\": \"bytes4\"\n        }\n      ],\n      \"name\": \"supportsInterface\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [],\n      \"name\": \"symbol\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketPrice\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketToEvent\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketsSold\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"tokenURI\",\n      \"outputs\": [\n        {\n          \"internalType\": \"string\",\n          \"name\": \"\",\n          \"type\": \"string\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"totalTickets\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"from\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to\",\n          \"type\": \"address\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tokenId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"transferFrom\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"buyTicket\",\n      \"outputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"stateMutability\": \"payable\",\n      \"type\": \"function\",\n      \"payable\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"ticketOwnerOf\",\n      \"outputs\": [\n        {\n          \"internalType\": \"address\",\n          \"name\": \"\",\n          \"type\": \"address\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"ticketId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"owner\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"checkTicket\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"view\",\n      \"type\": \"function\",\n      \"constant\": true\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"tickedId\",\n          \"type\": \"uint256\"\n        },\n        {\n          \"internalType\": \"address\",\n          \"name\": \"to_\",\n          \"type\": \"address\"\n        }\n      ],\n      \"name\": \"ticketTransfer\",\n      \"outputs\": [\n        {\n          \"internalType\": \"bool\",\n          \"name\": \"\",\n          \"type\": \"bool\"\n        }\n      ],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    },\n    {\n      \"inputs\": [\n        {\n          \"internalType\": \"uint256\",\n          \"name\": \"eventId\",\n          \"type\": \"uint256\"\n        }\n      ],\n      \"name\": \"withdraw\",\n      \"outputs\": [],\n      \"stateMutability\": \"nonpayable\",\n      \"type\": \"function\"\n    }\n  ]\n      var cryptoEvents;\n      // 1. declare `userAccount` here\n\n      function startApp() {\n        var cryptoEventsAddress = \"0xeD0eCBeD8269f54DB2882a6Eb00597644C775b44\";\n        cryptoEvents = new web3js.eth.Contract(cryptoEventsABI, cryptoEventsAddress);\n\n        var accountInterval = setInterval(function() {\n          // Check if account has changed\n          if (web3.eth.accounts[0] !== userAccount) {\n            userAccount = web3.eth.accounts[0];\n            // Call some function to update the UI with the new account\n            updateInterface();\n            }\n          }, 100);\n      }\n\n      function getEventDetails(id) {\n        return cryptoEvent.methods.events(id).call()\n      }\n\n      function eventToOwner(id) {\n        return cryptoEvents.methods.eventToOwner(id).call()\n      }\n\n      function getEventByOwner(owner) {\n        return cryptoEvents.methods.getOwnerEvents(owner).call()\n      }\n\n      window.addEventListener('load', function() {\n\n        // Checking if Web3 has been injected by the browser (Mist/MetaMask)\n        if (typeof web3 !== 'undefined') {\n          // Use Mist/MetaMask's provider\n          web3js = new Web3(web3.currentProvider);\n        } else {\n          // Handle the case where the user doesn't have Metamask installed\n          // Probably show them a message prompting them to install Metamask\n          console.log(\"Metamask needed\")\n        }\n\n        // Now you can start your app & access web3 freely:\n        startApp()\n\n      })\n    </script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":380,"y":420,"wires":[["7bce16b8.702748"]]},{"id":"ebfe6657.115918","type":"ui_button","z":"f6f2187d.f17ca8","d":true,"name":"","group":"6b5528fc.d7ed78","order":3,"width":0,"height":0,"passthru":false,"label":"Connect to metamask","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":140,"y":400,"wires":[["26f3099a.e74206"]]},{"id":"7bce16b8.702748","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":380,"wires":[]},{"id":"f827aa2f.5176f8","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":140,"wires":[[]]},{"id":"8c19324.cf7ffd","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var val = {};\nval.payload = \"Transaction hash: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":200,"wires":[["f827aa2f.5176f8"]]},{"id":"bf53ba6a.fc9da8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":200,"wires":[["470a229d.06f0bc","dcfc1179.266fb"]]},{"id":"ba883bea.6a38e8","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":260,"wires":[[]]},{"id":"dcfc1179.266fb","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":260,"wires":[["ba883bea.6a38e8"]]},{"id":"a0b79c4f.e5d86","type":"ui_form","z":"c8877372.706d7","name":"","label":"","group":"4ad241b0.fd92a","order":0,"width":0,"height":0,"options":[{"label":"Event ID","value":"eventId","type":"text","required":true,"rows":null},{"label":"Ticket Price (Ether)","value":"ticketPrice","type":"number","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"eventId":"","ticketPrice":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":220,"wires":[["e777bc59.6f6e","be4228b.15b36d8"]]},{"id":"6b6b3703.0f7968","type":"ethers-transaction","z":"c8877372.706d7","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"payload.ticketPrice","etherType":"msg","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"buyTicket","params":["payload.eventId"],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":220,"wires":[["e777bc59.6f6e","7a436f53.8bf3b"]]},{"id":"e777bc59.6f6e","type":"debug","z":"c8877372.706d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]},{"id":"34b7a172.22208e","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":160,"wires":[[]]},{"id":"7a436f53.8bf3b","type":"function","z":"c8877372.706d7","name":"","func":"var val = {};\nval.payload = \"Transaction hash: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["34b7a172.22208e"]]},{"id":"be4228b.15b36d8","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":220,"wires":[["6b6b3703.0f7968","8296faeb.816a98"]]},{"id":"fcf0a31a.b2bb8","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":280,"wires":[[]]},{"id":"8296faeb.816a98","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":280,"wires":[["fcf0a31a.b2bb8"]]},{"id":"fe12391c.8a3e58","type":"comment","z":"c8877372.706d7","name":"Buy Ticket","info":"Buy Ticket","x":160,"y":120,"wires":[]},{"id":"86f8f1b8.34c","type":"ui_form","z":"c8877372.706d7","name":"","label":"","group":"93574eda.b3218","order":0,"width":0,"height":0,"options":[{"label":"Event ID","value":"eventId","type":"text","required":true,"rows":null},{"label":"Ticket ID","value":"ticketId","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"eventId":"","ticketId":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":460,"wires":[["d2d76300.e534e","e346a53e.ed1988"]]},{"id":"d473bde3.a4563","type":"ethers-transaction","z":"c8877372.706d7","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"msg","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"checkTicket","params":["payload.eventId","payload.ticketId","payload.ropstenPublicKey"],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.ticketId","typeParam1":"msg","param2":"payload.ropstenPublicKey","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":460,"wires":[["d2d76300.e534e","4749595e.ac3088"]]},{"id":"d2d76300.e534e","type":"debug","z":"c8877372.706d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":340,"wires":[]},{"id":"3b67f27c.4af7fe","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":400,"wires":[[]]},{"id":"4749595e.ac3088","type":"function","z":"c8877372.706d7","name":"","func":"var val = {};\nval.payload = \"Ticked verified: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":460,"wires":[["3b67f27c.4af7fe"]]},{"id":"e346a53e.ed1988","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":460,"wires":[["d473bde3.a4563","b2e27cf7.e2d61"]]},{"id":"2a6e611d.99301e","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":520,"wires":[[]]},{"id":"b2e27cf7.e2d61","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":520,"wires":[["2a6e611d.99301e"]]},{"id":"2a0ced65.d76cd2","type":"comment","z":"c8877372.706d7","name":"Check Ticket","info":"Buy Ticket","x":150,"y":360,"wires":[]},{"id":"ea31463f.ee88e8","type":"ui_form","z":"c8877372.706d7","name":"","label":"","group":"86dab606.995968","order":0,"width":0,"height":0,"options":[{"label":"Ticket ID","value":"ticketId","type":"text","required":true,"rows":null},{"label":"(address) To","value":"to","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"ticketId":"","to":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":700,"wires":[["25f45e8.527b4a2","3f010bbc.c001c4"]]},{"id":"1bc41669.0d6cda","type":"ethers-transaction","z":"c8877372.706d7","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"msg","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"transferFrom","params":["payload.ropstenPublicKey","payload.to","payload.ticketId"],"param0":"payload.ropstenPublicKey","typeParam0":"msg","param1":"payload.to","typeParam1":"msg","param2":"payload.ticketId","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":700,"wires":[["25f45e8.527b4a2","d5f8e9c1.6d50c8"]]},{"id":"25f45e8.527b4a2","type":"debug","z":"c8877372.706d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":580,"wires":[]},{"id":"3706125e.03941e","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":640,"wires":[[]]},{"id":"d5f8e9c1.6d50c8","type":"function","z":"c8877372.706d7","name":"","func":"var val = {};\nval.payload = \"Transaction hash: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":700,"wires":[["3706125e.03941e"]]},{"id":"3f010bbc.c001c4","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":700,"wires":[["1bc41669.0d6cda","5dd7d2b5.243efc"]]},{"id":"3897d1a5.a3f57e","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":760,"wires":[[]]},{"id":"5dd7d2b5.243efc","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":760,"wires":[["3897d1a5.a3f57e"]]},{"id":"9a27afff.3515","type":"comment","z":"c8877372.706d7","name":"Transfer Ticket","info":"","x":160,"y":600,"wires":[]},{"id":"6ba67600.7cc23c","type":"ui_form","z":"c8877372.706d7","name":"","label":"","group":"e2830a81.255e58","order":0,"width":0,"height":0,"options":[{"label":"Ticket ID","value":"ticketId","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"ticketId":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":980,"wires":[["e59431c1.71593","6c7c08c0.ace8c8"]]},{"id":"6e993009.ce578","type":"ethers-transaction","z":"c8877372.706d7","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"msg","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"ticketOwnerOf","params":["payload.ticketId"],"param0":"payload.ticketId","typeParam0":"msg","param1":"payload.to","typeParam1":"msg","param2":"payload.ticketId","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":980,"wires":[["e59431c1.71593","212d2dd4.a8a532"]]},{"id":"e59431c1.71593","type":"debug","z":"c8877372.706d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":860,"wires":[]},{"id":"2d5d914d.744cde","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":920,"wires":[[]]},{"id":"212d2dd4.a8a532","type":"function","z":"c8877372.706d7","name":"","func":"var val = {};\nval.payload = \"The address of the ticket owner is: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":980,"wires":[["2d5d914d.744cde"]]},{"id":"6c7c08c0.ace8c8","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":980,"wires":[["6e993009.ce578","b2d18ad3.0e6a98"]]},{"id":"b7cd71f5.81173","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":1040,"wires":[[]]},{"id":"b2d18ad3.0e6a98","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1040,"wires":[["b7cd71f5.81173"]]},{"id":"ef70c5d4.e907d8","type":"comment","z":"c8877372.706d7","name":"Get the owner of the ticket","info":"","x":190,"y":880,"wires":[]},{"id":"6eb5d4be.3d86ac","type":"ui_form","z":"f6f2187d.f17ca8","name":"","label":"","group":"75b4bf84.ea5a","order":1,"width":0,"height":0,"options":[{"label":"Ropsten Public Key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Ropsten Private Key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":580,"wires":[["f787e2bf.af8a7","df9078e8.db42a8"]]},{"id":"f787e2bf.af8a7","type":"ethers-transaction","z":"f6f2187d.f17ca8","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"getOwnerEvents","params":["payload.ropstenPublicKey"],"param0":"payload.ropstenPublicKey","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":300,"y":580,"wires":[["8e50382f.3634d8","259d7cb9.6f9844","cf7eb555.695f48"]]},{"id":"8e50382f.3634d8","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"75b4bf84.ea5a","order":2,"width":0,"height":0,"name":"","label":"The events organised by me","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":580,"wires":[]},{"id":"259d7cb9.6f9844","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":540,"wires":[]},{"id":"df9078e8.db42a8","type":"function","z":"f6f2187d.f17ca8","d":true,"name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":640,"wires":[["8e50382f.3634d8"]]},{"id":"529edd51.d4a984","type":"comment","z":"f6f2187d.f17ca8","name":"Create New Event","info":"","x":200,"y":100,"wires":[]},{"id":"547bccab.f2d674","type":"ui_form","z":"f6f2187d.f17ca8","name":"","label":"","group":"ff2dd3e1.0c99","order":1,"width":0,"height":0,"options":[{"label":"Event ID","value":"eventId","type":"text","required":true,"rows":null},{"label":"Ropsten Public Key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Ropsten Private Key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"eventId":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":780,"wires":[["7c246022.70262","a8ccdd58.ed9e7"]]},{"id":"7c246022.70262","type":"ethers-transaction","z":"f6f2187d.f17ca8","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"getEventDetails","params":["payload.eventId"],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":280,"y":780,"wires":[["2938c91b.14bc46"]]},{"id":"86d5641.5d70998","type":"ui_text","z":"f6f2187d.f17ca8","d":true,"group":"ff2dd3e1.0c99","order":2,"width":0,"height":0,"name":"","label":"Event Details","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":780,"wires":[]},{"id":"ceabcf2.3a76a3","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":960,"wires":[]},{"id":"a8ccdd58.ed9e7","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":840,"wires":[["86d5641.5d70998"]]},{"id":"2938c91b.14bc46","type":"csv","z":"f6f2187d.f17ca8","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":450,"y":840,"wires":[["8110ee02.48647"]]},{"id":"8110ee02.48647","type":"json","z":"f6f2187d.f17ca8","name":"","property":"payload","action":"obj","pretty":false,"x":280,"y":960,"wires":[["9f1b6058.ddca8","ceabcf2.3a76a3"]]},{"id":"3235a535.09768a","type":"ui_template","z":"f6f2187d.f17ca8","d":true,"group":"ff2dd3e1.0c99","name":"","order":2,"width":"10","height":"4","format":"<div ng-bind-html=\"msg.payload.col1\"></div>\n<div ng-bind-html=\"msg.payload.col2\"></div>\n<div ng-bind-html=\"msg.payload.col3\"></div>\n<div ng-bind-html=\"msg.payload.col4\"></div>\n<div ng-bind-html=\"msg.payload.col5\"></div>\n<div ng-bind-html=\"msg.payload.col6\"></div>\n<div ng-bind-html=\"msg.payload.col7\"></div>\n<div ng-bind-html=\"msg.payload.col8\"></div>\n<div ng-bind-html=\"msg.payload.col9\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":1020,"wires":[[]]},{"id":"9f1b6058.ddca8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload.col1 = \"Name:           \" + msg.payload.col1;\nmsg.payload.col2 = \"Description:    \" + msg.payload.col2;\nmsg.payload.col3 = \"Location:       \" + msg.payload.col3;\nmsg.payload.col4 = \"Start Date:     \" + msg.payload.col4;\nmsg.payload.col5 = \"End Date:       \" + msg.payload.col5;\nmsg.payload.col6 = \"Ticket Price:   \" + Number(msg.payload.col6)/1000000000000000000 + \" ETH\";\n//msg.payload.col6 = \"Ticket Price:   \" + msg.payload.col6 + \" wei\";\nmsg.payload.col7 = \"Total Tickets:  \" + msg.payload.col7;\nmsg.payload.col8 = \"Tickets Sold:   \" + msg.payload.col8;\nmsg.payload.col9 = \"Event Canceled: \" + msg.payload.col9;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1020,"wires":[["3235a535.09768a","e88f216b.e35d8"]]},{"id":"df8f41d6.b6205","type":"comment","z":"f6f2187d.f17ca8","name":"Event Details","info":"","x":140,"y":900,"wires":[]},{"id":"f5b52e7e.d8ca8","type":"comment","z":"f6f2187d.f17ca8","name":"My Event List","info":"","x":160,"y":500,"wires":[]},{"id":"b1cadd60.1be73","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":600,"y":1080,"wires":[[]]},{"id":"e88f216b.e35d8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"val = {};\nval.payload = \"\" + msg.payload.col1\n+ msg.payload.col2 + \"; \"\n+ msg.payload.col3 + \"; \"\n+ msg.payload.col4 + \"; \"\n+ msg.payload.col5 + \"; \"\n+ msg.payload.col6 + \"; \"\n+ msg.payload.col7 + \"; \"\n+ msg.payload.col8 + \"; \"\n+ msg.payload.col9;\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":1080,"wires":[["b1cadd60.1be73"]]},{"id":"3251a6f6.cd08ea","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":650,"y":640,"wires":[[]]},{"id":"cf7eb555.695f48","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = \"The events organised by me: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":640,"wires":[["3251a6f6.cd08ea"]]},{"id":"57244158.4426","type":"ui_form","z":"f6f2187d.f17ca8","name":"","label":"","group":"da9b459d.0ceba8","order":1,"width":0,"height":0,"options":[{"label":"Ropsten Public Key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Ropsten Private Key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":90,"y":1240,"wires":[["cfa5c6b4.f698e8"]]},{"id":"335ba779.1c08d8","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":1200,"wires":[]},{"id":"ee4937e2.470678","type":"comment","z":"f6f2187d.f17ca8","name":"Active Event List","info":"","x":150,"y":1160,"wires":[]},{"id":"6dbeb560.91f7cc","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":630,"y":1300,"wires":[[]]},{"id":"9f1afe3a.3b5fc","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = \"The active event list: \" + msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":1300,"wires":[["6dbeb560.91f7cc"]]},{"id":"5e4dcc8f.124474","type":"ui_form","z":"f6f2187d.f17ca8","name":"","label":"","group":"6bb42833.679958","order":0,"width":0,"height":0,"options":[{"label":"Event ID","value":"eventId","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"eventId":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":1520,"wires":[["70eac062.b171","1af41057.f8d48"]]},{"id":"1fb601f2.c7552e","type":"ethers-transaction","z":"f6f2187d.f17ca8","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"cancelEvent","params":["payload.eventId"],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":1520,"wires":[["70eac062.b171","4691a283.e7ccec"]]},{"id":"70eac062.b171","type":"debug","z":"f6f2187d.f17ca8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":430,"y":1440,"wires":[]},{"id":"77ec4e31.e983d","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":1460,"wires":[[]]},{"id":"4691a283.e7ccec","type":"function","z":"f6f2187d.f17ca8","name":"","func":"var val = {};\nval.payload = \"Transaction hash: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1520,"wires":[["77ec4e31.e983d"]]},{"id":"1af41057.f8d48","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1520,"wires":[["1fb601f2.c7552e","71724f92.8fea"]]},{"id":"a286adfe.23db8","type":"ui_toast","z":"f6f2187d.f17ca8","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":1580,"wires":[[]]},{"id":"71724f92.8fea","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1580,"wires":[["a286adfe.23db8"]]},{"id":"4fb03f39.39b92","type":"comment","z":"f6f2187d.f17ca8","name":"Cancel Event","info":"","x":180,"y":1420,"wires":[]},{"id":"cfa5c6b4.f698e8","type":"ethers-transaction","z":"f6f2187d.f17ca8","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"str","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"getActiveEvnts","params":[],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.description","typeParam1":"msg","param2":"payload.location","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":280,"y":1240,"wires":[["9f1afe3a.3b5fc","335ba779.1c08d8"]]},{"id":"43eef7f5.4a60a8","type":"ui_form","z":"c8877372.706d7","name":"","label":"","group":"ecc1dc96.f2a7c","order":0,"width":0,"height":0,"options":[{"label":"Event ID","value":"eventId","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Public key","value":"ropstenPublicKey","type":"text","required":true,"rows":null},{"label":"Sender's Ropsten Private key","value":"ropstenPrivateKey","type":"text","required":true,"rows":null}],"formValue":{"eventId":"","ropstenPublicKey":"","ropstenPrivateKey":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":false,"x":70,"y":1240,"wires":[["4043f529.5c682c","79849802.8172d8"]]},{"id":"97e33eeb.c44f","type":"ethers-transaction","z":"c8877372.706d7","name":"","network":"362d78bb.ec4368","wallet":"c89aae8b.5cfe1","output":"payload","outputType":"msg","wait":false,"address":"","addressType":"str","ether":"","etherType":"msg","gaslimit":"","contract":"36e2ad43.b68d12","apiCall":"withdraw","params":["payload.eventId"],"param0":"payload.eventId","typeParam0":"msg","param1":"payload.to","typeParam1":"msg","param2":"payload.ticketId","typeParam2":"msg","param3":"payload.startDate","typeParam3":"msg","param4":"payload.endDate","typeParam4":"msg","param5":"payload.ticketPrice","typeParam5":"msg","param6":"payload.totalTickets","typeParam6":"msg","x":380,"y":1240,"wires":[["4043f529.5c682c","1678ce73.5e0252"]]},{"id":"4043f529.5c682c","type":"debug","z":"c8877372.706d7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":1120,"wires":[]},{"id":"6f011171.d461d","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":690,"y":1180,"wires":[[]]},{"id":"1678ce73.5e0252","type":"function","z":"c8877372.706d7","name":"","func":"var val = {};\nval.payload = \"Thansaction hash: \" + msg.payload\nreturn val;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":1240,"wires":[["6f011171.d461d"]]},{"id":"79849802.8172d8","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload.ticketPrice = msg.payload.ticketPrice * 1000000000000000000;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":1240,"wires":[["97e33eeb.c44f","5aae86a.2746678"]]},{"id":"48b8104f.402ba","type":"ui_toast","z":"c8877372.706d7","position":"dialog","displayTime":"20","highlight":"","sendall":true,"outputs":1,"ok":"_","cancel":"","raw":false,"topic":"","name":"","x":370,"y":1300,"wires":[[]]},{"id":"5aae86a.2746678","type":"function","z":"c8877372.706d7","name":"","func":"msg.payload = \"Wait for the response\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":1300,"wires":[["48b8104f.402ba"]]},{"id":"d3d8a13d.c1268","type":"comment","z":"c8877372.706d7","name":"Withdraw money","info":"","x":160,"y":1140,"wires":[]}]